// IMPORTS

// INCLUDES

// MAIN MIXIN
@mixin leftNavBar() {
    // div.pmLeftNavBar_slideIn{
    //     left:0px;
    // }
    div#leftNavBar{
        @include box_settings($orientation: vertical, $align: start, $pack: start, $flex: 0);
        @include single-transition($property: all, $duration: 0.5s, $function: ease, $delay: 1s);
        margin: 1% 0% 0% 1%;
        // margin:0;
        padding:0;
        line-height:1.6;
        width: $leftNavBarWidth;
        position:relative;
        left:-300px;
        @include opacity(0.0);
        // USE -200 WHEN EASING IN ON PAGE LOAD
        // display:none;

        &.isReady {
            left:0px;
            @include opacity(1.0);
        }

        a {
            color: $leftNavBarLinkColor;
            font: normal 1.1em Helvetic-Neue, sans-serif;
            &:hover {
                color: $leftNavBarLinkHoverColor;
            }
        }
        nav{
            margin-left: 0px;
            height: 95%;
            ul {
                @include box_settings($orientation: vertical, $align: end, $pack: end, $flex: 0);
                font-size: 1.2em;
                padding: 0;
                margin:0;
                div.divNavBarItem{
                    width:100%;
                }
                div {
                    @include box_settings($orientation: horizontal, $align: end, $pack: end, $flex: 0);
                    margin:0;
                    margin-top: 3%;
                    &#topButtons{
                        @include box_settings($orientation: horizontal, $align: center, $pack: center, $flex: 0);
                        width:100%;
                        button#createNewTicket {
                            @include box_settings($orientation: horizontal, $align: center, $pack: center, $flex: 1);
                            margin:0;
                            padding:3px;
                            width: 100%;
                            font-size: 1.4em;
                            padding {
                                left: 3px;
                                right: 3px;
                            }
                            div {
                                @include box_settings($orientation: horizontal, $align: center, $pack: center, $flex: 1);
                            }
                            i {
                                font-size: 0.7em;
                            }
                        }
                    }
                    &.sidebarTitle {
                        @include box_settings($orientation: horizontal, $align: center, $pack: end, $flex: 0);
                        color: $leftNavBarTitleColor;
                        padding: 0px 0.5% 0px 0.5%;
                        margin-top: 7%;
                        font-size: 1.2em;
                    }
                    &#developmentTitle {
                        padding: 25% 0.5% 0px 0.5%;
                    }
                    &#currentPage {
                        border-left: 4px solid $solRed;
                        font-weight: bold;
                        a {
                            color: $solRed;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

// EXTRA MIXINS
