// IMPORTS

// INCLUDES

// DEFAULT VARIABLES


// MAIN MIXIN
@mixin dryx_() {
    @include setup_();
}

// SETUP-MIXINS
@mixin floatingForms() {
    div.floatingFormWindow{
        position: absolute;
        width:100%;
        height:100%;
        left:0px;
        top:0px;
        z-index: $zindexModal;
        display:none;
        div.fadeBackground {
            @include display-box;
            @include opacity(0.8);
            background-color: $modalBackdropColor;
            position: fixed;
            left:0px;
            top:0px;
            width:100%;
            height:100%;
            z-index: $zindexModalBackdrop;
        }
        form.floatingForm{
            @include box_settings($orientation: vertical, $align: center, $pack: center, $flex: 0);
            @include single-box-shadow($color: $black, $hoff: 4px, $voff: 4px, $blur: 5px, $spread: false, $inset: false);
            border: 1px solid $black;
            position: relative;
            padding:10px;
            left:0px;
            width:800px;
            z-index: $zindexModal;
            display:none;
            div.floatingFormContent{
                @include box_settings($orientation: vertical, $align: center, $pack: center, $flex: 0);
                @include background-clip();
                @include border-radius($radius: 5px);
                padding: 70px;
                margin: 10px;
                position: relative;
                background-color: $solDarkGrey;
                color: #E6E5E5;
                div{
                    @include display-box;
                    &.labels{
                        font-size: 1.5em;
                        margin: 0px 10px;
                    }
                    &[id^=row]:nth-child(3n+1) div.labels:nth-child(8n+1){color: $solYellow;}
                    &[id^=row]:nth-child(3n+1) div.labels:nth-child(8n+2){color: $solGreen;}
                    &[id^=row]:nth-child(3n+1) div.labels:nth-child(8n+3){color: $solOrange;}
                    &[id^=row]:nth-child(3n+1) div.labels:nth-child(8n+4){color: $solCyan;}
                    &[id^=row]:nth-child(3n+1) div.labels:nth-child(8n+5){color: $solBlue;}
                    &[id^=row]:nth-child(3n+1) div.labels:nth-child(8n+6){color: $solRed;}
                    &[id^=row]:nth-child(3n+1) div.labels:nth-child(8n+7){color: $solViolet;}
                    &[id^=row]:nth-child(3n+1) div.labels:nth-child(8n+8){color: $solMagenta;}
                    &[id^=row]:nth-child(3n+2) div.labels:nth-child(8n+1){color: $solOrange;}
                    &[id^=row]:nth-child(3n+2) div.labels:nth-child(8n+2){color: $solCyan;}
                    &[id^=row]:nth-child(3n+2) div.labels:nth-child(8n+3){color: $solBlue;}
                    &[id^=row]:nth-child(3n+2) div.labels:nth-child(8n+4){color: $solRed;}
                    &[id^=row]:nth-child(3n+2) div.labels:nth-child(8n+5){color: $solViolet;}
                    &[id^=row]:nth-child(3n+2) div.labels:nth-child(8n+6){color: $solMagenta;}
                    &[id^=row]:nth-child(3n+2) div.labels:nth-child(8n+7){color: $solYellow;}
                    &[id^=row]:nth-child(3n+2) div.labels:nth-child(8n+8){color: $solGreen;}
                    &[id^=row]:nth-child(3n+3) div.labels:nth-child(8n+1){color: $solBlue;}
                    &[id^=row]:nth-child(3n+3) div.labels:nth-child(8n+2){color: $solRed;}
                    &[id^=row]:nth-child(3n+3) div.labels:nth-child(8n+3){color: $solViolet;}
                    &[id^=row]:nth-child(3n+3) div.labels:nth-child(8n+4){color: $solMagenta;}
                    &[id^=row]:nth-child(3n+3) div.labels:nth-child(8n+5){color: $solYellow;}
                    &[id^=row]:nth-child(3n+3) div.labels:nth-child(8n+6){color: $solGreen;}
                    &[id^=row]:nth-child(3n+3) div.labels:nth-child(8n+7){color: $solOrange;}
                    &[id^=row]:nth-child(3n+3) div.labels:nth-child(8n+8){color: $solCyan;}

                    &[id*="row"]{
                        @include box-pack(start);
                        margin: 10px 0px;
                        position:relative;
                        width:100%;
                    }
                    &#row01{
                        @include box-pack(start);
                        margin-bottom:0px;
                        padding-bottom:0px;
                        img.icon{
                            width:80px;
                            height:80px;
                        }
                    }
                    &#row02{
                        font-size: 2.0em;
                        border-bottom: 1px solid #E6E5E5;
                        width:100%;
                        text-align: left;
                        margin-bottom: 20px;
                        line-height:1.8em;
                        margin-top:0px;
                        padding-top:0px;
                    }
                    &.formError{
                        position:absolute;
                        bottom:50px;
                        right:80px;
                        display:none;
                        color: $solRed;
                        font-size: 2.0em;
                    }
                }
            }
        }
    }
}


@mixin commentForm() {
    form#objectCommentForm {
        @include display-box;
        @include background-clip();
        @include border-bottom-radius($radius: 5px);
        border-top: 1px dashed $solGrey02;
        background-color: $solGrey03;
        display:none;
        height:70px;
    }

    form#objectCommentForm input[name='author...']{
        @include box_settings($orientation: horizontal, $align: center, $pack: center, $flex: 1);
    }

    form#objectCommentForm input[name='comment...']{
        @include box_settings($orientation: horizontal, $align: center, $pack: center, $flex: 10);
    }

    form#objectCommentForm #row02 {
        @include box-pack(end);

        margin:5px 10px 5px 10px;
    }

    form div#commentError{
        font-size: 1.4em;
        display: inline-block;
        text-align: left;
        color: $solRed;
        margin-left:10px;
        margin-bottom: 3px;
    }

    #formSubmitted{
        display:none;
    }
}

$classificationFormObjectNameColor: $solBlue;
/*---CLASSIFICATION FORM ------------------*/
/*-----------------------------------------*/
@mixin classificationForm() {
    #classificationForm {
        div{
            &#objectName{
                @include box-flex(1);
                color: $classificationFormObjectNameColor;
                font-size: 3.0em;
                overflow:hidden;
            }
            &#row07{
                position: relative;
                width:100%;
                margin-top: 40px;
                @include box-pack(end);
            }
            &#peculiar{
                margin-left: 5px;
                font-size: 1.4em;
            }
        }
        input {
            &[name="number"]{
                @include opacity(0.0);
            }
            &[name="mjd"]{@extend .input-mini};
            &[name="telescope"]{@extend .input-small};
            &[name="instrument"]{@extend .input-small};
            &[name="redshift"]{@extend .input-mini};
            &[name="reducer"]{@extend .input-medium};
        }
        select {
            &#source {@extend .input-small};
            &#type {@extend .input-medium};
        }
    }
}


@mixin createNewObjectForm(){
    form#createNewObjectForm {
        div#row08{
            position: relative;
            width:100%;
            margin-top: 40px;
            @include box-pack(end);
        }
        input {
            &[name="objectName"]{@extend .input-medium};
            &[name="survey"]{@extend .input-small};
            &[name="objectUrl"]{@extend .input-large};
            &[name="objectSurveyUrl"]{@extend .input-large};
            &[name="ra"]{@extend .input-medium};
            &[name="dec"]{@extend .input-medium};
            &[name="hostRedshift"]{@extend .input-mini};
            &[name="discoveryMag"]{@extend .input-mini};
            &[name="discoveryFilter"]{@extend .input-mini};
            &[name="mjd"]{@extend .input-small};
            &[name="createdBy"]{@extend .input-medium};
        }
        select {
            &#suggestedTypeSelect {@extend .input-mediumti};
        }
    }
}

// EXTRA MIXINS
