// Module Name: pessto_variables
// Author: Dave Young
// Date created: March 14, 2013
// Summary: Default variables to be used across the pessto marshall site
// IMPORTS
@import 'dryx_variables';

// xx - delete
$formBackgroundColor: $solLightGrey !default;
$formTextColor: darken($solLightGrey, 40%) !default;
$formLegendColor: $formTextColor !default;


// DRYX ASSEST RESETS
// $baseFontSize:          10px;
$linkColor:             $solDarkGrey !default;
$linkColorHover:        $solBlue !default;


// NEW VARIABLES
$bigWrapperWidth: 98% !default;
$topNavBarShadowColor: $solLightGrey !default;
$topNavBarColor: $solDarkGrey !default;
$topNavBarLinkColor: darken($solLightGrey, 10%) !default;
$topNavBarLinkHoverColor: white !default;
$leftNavBarLinkColor: darken($solLightGrey, 30%);
$leftNavBarLinkHoverColor: $solBlue;
$leftNavBarTitleColor: darken($solLightGrey, 70%);
$leftNavBarWidth: 14% !default;
$ticketBackgroundColor: $solDarkGrey !default;
$ticketTextColor: $solLightGrey !default;
$warningColor: $solRed !default;
$atelColor: $solGreen !default;
$masterObjectNameColor: $solViolet !default;
$pmTableFunctionBarSpacing: 0.5% !default;


// EXTRA MIXINS
