// IMPORTS

// INCLUDES

// DEFAULT VARIABLES


// MAIN MIXIN
@mixin dryx_() {
    @include setup_();
}

// SETUP-MIXINS
@mixin topNavBar() {

    div#topNavBar{
        ul.pull-right {
            // @include box_settings($orientation: horizonal, $align: center, $pack: center, $flex: 0);
        }
        .form-search {
            padding-left: 6px;
        }
        i {
            font-size: 1.0em;
            line-height: 1.0;
        }
    }


}

// EXTRA MIXINS
