/*
    Name: PESSTO Marshall Stylesheet
    Date: February 25, 2013
    Description: HTML5 and CSS3 goodness for the PESSTO Community
    Version: 1.0
    Author: Dave Young
*/
// IMPORTS
@import "screen";
@import "dryx_colors";
@import "pessto_variables";
@import "pesstoBasics";
@import "topNavBar";
@import "leftNavBar";
@import "pesstoForms";
@import "bigWrapper";
@import "ticketTable";
@import "objectTicket";
@import "pesstoTwitterFeed";
@import "dryx_utils";
@import "dryx_reset";
@import "dryx_alerts";
@import "dryx_anchors";
@import "dryx_animations";
@import "dryx_badges";
@import "dryx_buttons";
@import "dryx_dropdowns";
@import "dryx_feature_blocks";
@import "dryx_forms";
@import "dryx_functions";
@import "dryx_icons";
@import "dryx_images";
@import "dryx_layout";
@import "dryx_logs";
@import "dryx_navigation";
@import "dryx_responsive_utils";
@import "dryx_tables";
@import "dryx_tooltip";
@import "dryx_type";
@import "dryx_modals";

// INCLUDES

// // DEFAULT VARIABLES
// $clip: padding-box;
// $default-text-shadow-color: darken($solLightGrey, 10%);
// $default-text-shadow-h-offset: 2px;
// $default-text-shadow-v-offset: 2px;
// $default-text-shadow-blur: 5px;
// $default-box-shadow-color: $solDarkGrey;
// $default-box-shadow-h-offset: 5px;
// $default-box-shadow-v-offset: 5px;
// $default-box-shadow-blur: 5px;
// $default-box-shadow-spread: true;
// $default-box-shadow-inset: true;

// // DRYX DEFAULTS
// $bigWrapperWidth: 98% !default;
// $topNavBarShadowColor: $solLightGrey !default;
// $topNavBarColor: $solDarkGrey !default;
// $topNavBarLinkColor: darken($solLightGrey, 10%) !default;
// $topNavBarLinkHoverColor: white !default;
// $leftNavBarLinkColor: darken($solLightGrey, 30%);
// $leftNavBarLinkHoverColor: $solBlue;
// $leftNavBarTitleColor: darken($solLightGrey, 70%);
// $leftNavBarWidth: 12% !default;
// $ticketBackgroundColor: $solDarkGrey !default;
// $ticketTextColor: $solLightGrey !default;
// $warningColor: $solRed !default;
// $atelColor: $solGreen !default;
// $masterObjectNameColor: $solViolet !default;
// $pmTableFunctionBarSpacing: 0.5% !default;

// // RESET VARIABLES
// $font-family: 'Inder', 'Signika Negative', 'Acme', sans-serif, 'Loved by the King', cursive;
// $bodyBackgroundColor: $solCream;
// $bodyColor: $solDarkGrey;
// $h1Size: 2.5em;
// $headerFont: 'Acme';

// MAIN MIXIN
@mixin dryx_basic_setup(){
    @include dryx_anchors();
    @include dryx_buttons();
    @include dryx_layout();
    @include dryx_forms();
    @include dryx_icon_font();
    @include dryx_type();
}

// SETUP-MIXINS

// EXTRA MIXINS





// INCLUDES
@include dryx_basic_setup();
@include pesstoBasics();
@include topNavBar();
@include leftNavBar();
@include bigWrapper();
@include ticketTable();
@include objectTicket();
@include floatingForms();
@include commentForm();
@include createNewObjectForm();
@include classificationForm();
@include bigWrapper();
@include twitterFeed();

