// IMPORTS

// INCLUDES

// DEFAULT VARIABLES
$commentColor: $solLightGrey !default;
$commentFont: Signika Negative, sans-serif !default;
$commentBlockLinkColor: $solGreen !default;
$commentAuthorColor: $solRed !default;
$commentDateColor: darken($solLightGrey, 10%) !default;
$hoverLinkColor: $solBlue !default;
$sdssStatusColor: $solCyan;
$hostRedshiftColor: $solRed;
$hostRedshiftTypeColor: $solBlue;
$hostDistanceColor: $solViolet;
$sdssLinkColor: $solViolet;
$ticketLabelsColor: darken($solLightGrey, 20%);
$decColor: $solMagenta;
$raColor: $solOrange;
$absMagColor: $solCyan;
$typePredictionColor: $solYellow;
$typePredictionSourceColor: $solYellow;
$lastNonDetectionColor: $solRed;
$lastNonDetectionDateColor: $solBlue;
$latestMagnitudeColor: $solGreen;
$latestMagnitudeFilterColor: $solRed;
$latestMagnitudeDateColor: $solBlue;
$latestMagnitudeSurveyColor: $solGreen;
$previousMagnitudeColor: $solGreen;
$previousMagnitudeFilterColor: $solRed;
$previousMagnitudeDateColor: $solBlue;
$previousMagnitudeSurveyColor: $solGreen;
$latestClassificationColor: $solCyan;
$latestClassificationDateColor: $solViolet;
$latestClassificationSurveyColor: $solMagenta;
$previousClassificationColor: $solCyan;
$previousClassificationDateColor: $solViolet;
$previousClassificationSurveyColor: $solMagenta;
$latestTransientDistanceColor: $solBlue;
$latestTransientRedshiftColor: $solRed;

// MAIN MIXIN
@mixin objectTicket() {

    div.objectTicket {
        @include box_settings($orientation: vertical, $align: center, $pack: center, $flex: 1);
        @include single-transition($property: opacity, $duration: 2s, $function: ease, $delay: 0s);
        @include background-clip();
        @include border-radius($radius: 6px);
        @include single-box-shadow($color: darken($solLightGrey, 20%), $hoff: 4px, $voff: 4px, $blur: 5px, $spread: false, $inset: false);
        color: $ticketTextColor;
        background-color: $ticketBackgroundColor;
        padding:0.5%;
        margin-bottom: 1em;
        width:98%;
        @include opacity(1.0);
        // @include single-transition($property: opacity, $duration: 2s, $function: ease, $delay: 0s);
        div[id$="abel"]{
            color: $ticketLabelsColor;
            padding: 2px;
        }

        div#objectTicketTopBar{
            @include box_settings($orientation: horizontal, $align: end, $pack: end, $flex: 1);
            width:99%;
            // height:25px;
            div#warnings{
                color: $warningColor;
                font-size: 1.0em;
                @include box-flex(1);
            }
        }
        div#objectBottomBar{
            @include box_settings($orientation: horizontal, $align: start, $pack: start, $flex: 1);
            width:99%;
            padding-top: 3px;
            div#alertListBlock{
                @include box_settings($orientation: horizontal, $align: start, $pack: start, $flex: 1);
                div#alertIcon{
                    font-size: 1.4em;
                    color: $atelColor;
                }
                div#alertLists{
                    font-size: 1.2em;
                    color: $solGrey01;
                    margin: 0 0 0 5px;
                    div#atelAlertList {
                        @include hoverLinks();
                        a {
                            color:$atelColor;
                        }
                    }

                }
            }
            div#bottomBarButtonBlock {
                @include box_settings($orientation: horizontal, $align: end, $pack: end, $flex: 1);
                margin: 0px;
                padding: 0px;
                button {
                    font-size: 0.8em;
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
        div.columnWrapper{
            @include box_settings($orientation: horizontal, $align: start, $pack: start, $flex: 0);
            padding: 5px, 5px, 5px, 5px;
            // height:220px;
            width:98%;
        }

        div.columnBlockHeader{
            @include box_settings($orientation: horizontal, $align: end, $pack: start, $flex: 0);
            width: 98%;
            padding: 2px;
            font-size: 1.2em;
            margin-bottom:2px;
            &:last-child{
                padding-right:0px;
            }
            div {
                @include display-box;
            }
        }
        div.columnBlock{
            @include box_settings($orientation: vertical, $align: start, $pack: start, $flex: 0);
            padding: (1%/2) (1%/2) (1%/2) (1%/2);
            font-size: 0.9em;
            height:98%;
            $thisWidth: 80%/6;
            width:$thisWidth;
            overflow:hidden;
        }
        img {
            @include box_settings($orientation: horizontal, $align: center, $pack: center, $flex: 0);
            padding: 0px 0px 0px 0px;
            border: 1px solid #F2F1F1;
            @include background-clip();
            @include border-radius($radius: 2px);
            // position:absolute;
            // width:120px;
            &:hover{
                position:absolute;
                z-index: 50001;
                overflow: auto !important;
                @include simple-transform($scale: 3.0);
                @include single-transition($property: transform, $duration: 100ms, $function: ease, $delay: 0s);
            }
        }
        @include identityBlock();
        @include classificationBlock();
        @include magnitudeBlock();
        @include objectInfoBlock();
        @include hostInfoBlock();
        @include commentBlock();


        &.isHidden{
            @include opacity(0.2);
        }
    }
}

// IDENTITY BLOCK
@mixin identityBlock() {
    div#identityBlock{
        div#tb_name{
            font-size: 1.7em;
            text-align:justify;
            color: $masterObjectNameColor;
            line-height: 1.1;
            padding-bottom: 2px;
            margin-bottom: 5px;
            @include hoverLinks();
            a {
                color: $masterObjectNameColor;
            }
        }
        div#objectImages {
            img#singleObjectImage{
                max-width:30%;
            }
            img#singleImage, img#tripletImage{
                max-width:100%;
            }
            img#tripleImage{
                max-width:32%;
                margin: 1px;
            }
        }
        div#aka{
            @include box_settings($orientation: horizontal, $align: start, $pack: center, $flex: 0);
            margin-top:10px;
            width:100%;
            div { line-height: 1.3; }
            div#akaLabel {
                @include display-box;
                position:relative;
                width:20%;
                min-height:25px;
                p {
                    @include box_settings($orientation: horizontal, $align: start, $pack: start, $flex: 0);
                    @include simple-transform($rotate: -90deg);
                    position:absolute;
                    bottom:1px; right:20px;
                    font-size:2.2em;
                }
            }
            div#akaNames {
                @include display-box;
                color: $solOrange;
                font-size: 1.2em;
                position:relative;
                bottom:1px; right:25px;
                width: 100%;
                @include hoverLinks();
                a{
                    color: $solOrange;
                }
            }
        }
    }
}


// CLASSIFICATION BLOCK
@mixin classificationBlock(){
    div#classificationBlock{
        div { line-height: 0.8; }
        div#latestClassification{
            padding: 0px;
            margin: 0px;
            span{
                font-size: 0.2em;
                &#variablestar, &#unknown{
                    font-size:0.5em;
                }
            }
            div#latestClassificationInfo{
                padding: 0px;
                margin: 0px;
                div {
                    padding: 1px;
                    font-size: 1.3em;
                    line-height: 1.3;
                }
                div#latestClassificationSurvey{color: $latestClassificationSurveyColor;}
                div#latestClassificationDate{color: $latestClassificationDateColor;}
            }
            div#latestClassificationValue{
                padding: 0px;
                margin: 0px;
                font-size: 4.0em;
                color: $latestClassificationColor;
            }
        }
        div#previousClassifications{
            div#classificationValue{
                padding: 0px;
                margin: 0px;
                font-size: 1.5em;
                color: $previousClassificationColor;
            }
            div#classificationSurvey{
                padding: 1px;
                font-size: 1.3em;
                line-height: 1.3;
                color: $previousClassificationSurveyColor;
            }
            div#classificationDate{
                padding: 1px;
                font-size: 1.3em;
                line-height: 1.3;
                color: $previousClassificationDateColor;
            }
        }
        div#transientDistance{
            div#latestTransientRedshift{
                font-size: 2.3em;
                color: $latestTransientRedshiftColor;
            }
            div#latestTransientMpc {
                font-size: 2.3em;
                color: $latestTransientDistanceColor;
            }
        }
    }
}

// MAGNITUDE BLOCK
@mixin magnitudeBlock() {
    div#magnitudeBlock{
        div { line-height: 1.0; }
        overflow:hidden;
        div#latestMag {
            div#latestMagValue{
                font-size: 4.0em;
                color: $latestMagnitudeColor;
            }
            div#latestMagFilter{
                font-size: 2.0em;
                color: $latestMagnitudeFilterColor;
            }
            div#latestMagDate{
                padding: 1px;
                font-size: 1.1em;
                color: $latestMagnitudeDateColor;
            }
            div#latestMagSurvey{
                padding: 1px;
                font-size: 0.8em;
                color: $latestMagnitudeSurveyColor;
            }
        }
        div#previousMag{
            // @include box_settings($orientation: horizontal, $align: end, $pack: center, $flex: 0);
            font-size: 0.8em;
            margin:2px;
            color: $previousMagnitudeColor;
            div#previousMagValue{
                font-size: 4.0em;
                color: $previousMagnitudeColor;;
            }
            div#previousMagFilter{
                font-size: 2.0em;
                color: $previousMagnitudeFilterColor;;
            }
            div#previousMagDate{
                padding: 1px;
                font-size: 1.1em;
                color: $previousMagnitudeDateColor;;
            }
            div#previousMagSurvey{
                font-size: 0.8em;
                color: $previousMagnitudeSurveyColor;;
            }
        }
    }
}


// OBJECT INFO BLOCK
@mixin objectInfoBlock() {
    div {line-height: 0.8;}
    div#objectinfoBlock{
        div#sDec {
            div#tb_decDeg{
                padding: 1px;
                font-size: 2.3em;
                color: $decColor;
            }
        }
        div#sRa{
            div#tb_raDeg{
                padding: 1px;
                font-size: 2.3em;
                color: $raColor;
            }
        }
        div#raLabel, div#decLabel{}
        div#absMag{
            div#absMagValue{
                padding: 0px;
                margin: 0px;
                font-size: 4.0em;
                color: $absMagColor;
            }
            div#absMagLabel{}
        }
        div#prediction{
            div#tb_transientTypePrediction{
                padding: 0px;
                margin: 0px;
                font-size: 2.0em;
                color: $typePredictionColor;
            }
            div#predictionInfo{
                div#predictionSourceLabel{}
                div#tb_transientTypePredicationSource{
                    padding: 3px;
                    font-size: 1.2em;
                    color: $typePredictionSourceColor;
                }
            }
        }
        div#lastNonDetection{
            // @include box_settings($orientation: horizontal, $align: end, $pack: center, $flex: 0);
            div#lastNonDetectionLabel{}
            div#lastNonDetectionInfo{
                div#lastNonDetectionSub{
                    div#lastNonDetectionPlus{
                        padding: 3px;
                        font-size: 1.5em;
                        line-height: 0.3;
                        color: $lastNonDetectionColor;
                    }
                    div#lastNonDetectionDate{
                        padding: 3px;
                        font-size: 1.2em;
                        color: $lastNonDetectionDateColor;
                    }
                }
                div#lastNonDetectionDaysPast{
                    padding: 3px 3px 0px 1px;
                    font-size: 2.3em;
                    color: $lastNonDetectionColor;
                }
            }
        }
    }
}

// HOST INFO BLOCK
@mixin hostInfoBlock() {
    div#hostinfoBlock{
        div#distance{
            div#tb_hostRedshift{
                font-size: 2.3em;
                color:$hostRedshiftColor;
            }
            div#mpc{
                font-size: 2.3em;
                color: $hostDistanceColor;
            }
            div#zLabel, div#mpcLabel, div#tb_hostRedshiftType {
                font-size: 1.3em;
            }
            div#tb_hostRedshiftType {
                color:$hostRedshiftTypeColor;
                @include simple-transform($rotate: -90deg);
                p {
                    position: relative;
                    width:5px;
                    line-height:0;
                    padding {
                        right:6px;
                        left:3px;
                    }
                }
            }
        }
        div#sdssImage {
            @include box_settings($orientation: horizontal, $align: center, $pack: center, $flex: 0);
            img {
                max-height: 100%;
            }
        }
        div#sdssLinks {
            font-size:1.3em;
            color:$sdssLinkColor;
            @include hoverLinks();
            a {
                color:$sdssLinkColor;
            }
        }
        div#sdssStatus{
            // @include display-box;
            font-size: 1.4em;
            color:$sdssStatusColor;
        }
    }
}

// COMMENT BLOCK
@mixin commentBlock() {
    div#commentsBlock{
        @include box-flex(1);
        overflow:hidden;
        button#newCommentButton{
            @include box-pack(start);
            font-size: 0.9em;
            padding:0px 0px;
            margin-left:2px;
            text-align: center;
        }
        div#oneComment{
            // @include box_settings($orientation: horizontal, $align: end, $pack: center, $flex: 0);
            width:100%;
            font-size: 1.4em;
            color: $commentColor;
            font-family: $commentFont;
            @include hoverLinks();
            a {
                color:$commentBlockLinkColor;
            }
            div#commentFooter{
                @include box-pack(end);
                width:100%;
                div#commentAuthor{
                    color: $commentAuthorColor;
                    font-style: italic;
                    font-size: 0.9em;
                }
                div#commentDate{
                    color:$commentDateColor;
                    font-size: 0.9em
                }
            }
        }
    }
}


@mixin hoverLinks(){
    a:not(.btn) {
        border-bottom: 1px dashed;
        margin-bottom: 8px;
        text-decoration: none;
        &:hover, &:active {
            color:$hoverLinkColor;
        }
    }
}

