// Name: PESSTO Survey Webpages
// Date: March 2012
// Description: CSS3 goodness for the PESSTO Community
// Version: 1.0
// Author: Dave Young

// IMPORTS
@import "screen";
@import "dryx_colors";
@import "dryx_variables";
@import "dryx_utils";
@import "dryx_reset";
@import "dryx_alerts";
@import "dryx_anchors";
@import "dryx_animations";
@import "dryx_badges";
@import "dryx_buttons";
@import "dryx_dropdowns";
@import "dryx_feature_blocks";
@import "dryx_forms";
@import "dryx_functions";
@import "dryx_icons";
@import "dryx_images";
@import "dryx_layout";
@import "dryx_logs";
@import "dryx_modals";
@import "dryx_navigation";
@import "dryx_responsive_utils";
@import "dryx_tables";
@import "dryx_tooltip";
@import "dryx_type";
// @import "_dryx_common";
@import "_pessto_common";
// @include basic_setup();

// BODY
body {
	background: $lightCream url('/pessto/assets/images/bg.png');
	color: $darkBrown;
	font-size: $baseFontSize;
	font-family: $bodyFont;
	line-height: $bodyLineHeight;
}

$bodyIdList: (index,pessto_team,feeder_surveys,papers,data,alerts,news,wiki,eso);

div#main-content{
	ul {
		li {
			margin-bottom: 11px;
		}
	}
}

// BANNER //
header#banner {
	margin: 0 auto;
	height: 300px;
	width: 960px;
	background: #462721 url("/pessto/assets/images/banner_bg.png") no-repeat center;
	border: {
		bottom: 10px solid $lightMud;
		top: 10px solid $lightMud;
	}
	h1 {
		font-size: 3.571em;
		line-height: .6;
		a:link, a:visited {
			color: $black;
			display: block;
			font-weight: bold;
			margin: 0 0 .6em .2em;
			text-decoration: none;
			width: 427px;
		}
		a:hover, a:active {
			background: none;
			color: $salmon;
		}
		strong {
			font-size: 0.36em;
			font-weight: normal;
		}
	}
}

// SIDEBAR NAVIGATION
div#sidenav {
	position:fixed;
	left: 0px;
	top: 0px;
	margin: {
		top: 0;
		left: auto;
		bottom: 0;
	}
	background: $cream;
	border-right: 3px solid #cbc5a3;
	height: 100%;
	width: 80px;
	text-align: center;
	line-height: .7;

	ul {
		position:relative;
		top: 40px;
		left: 20px;
		width: 45px;
		list-style: none;
		margin: 0;
	}

	li {
		height: 45px;
		a {
			float: right;
			&:hover {
				background-color: $lightCream;
			}
			&.home_button  {
				background-color: #462721;
				&:hover {
					background-color: $lightCream;
				}
			}
		}

	}

	span {
		display: inline-block;
		border: 0px;
		width: 45px;
		height: 45px;
	}

	a.home_button {
		background-image: url(/pessto/assets/images/home_button_plain.png);
		float: right;
		border: 1px solid $lightMud;
		color: $lightCream;
		&:hover {
			background-image: url(/pessto/assets/images/home_button_selected.png);
		}
    }
}
@include set_sidebar_button($bodyIdList);

// EXTRAS
section#extras {
	position: absolute;
	left: 0;
	width: 960px;
	left:50%;
	margin-left:-480px;
	background: $darkBrown;
	margin-top: 30px;

	div {position: relative; width: 200px; padding: 20px; float: left;}
	ul {list-style: none; margin: 0;}
	li {font-size: 0.8em;
		&:hover {background-color:$lightCream}
		&:last-child {
			border: 0;
			a {
				border: 0;
			}
		}
	}
	h2 {
		color: $lightCream;
		font-size: 1.5em;
		font-family: 'Loved by the King';
		margin-bottom: .25em;
		padding: 0 3px;
		line-height: 1;
		border-bottom: 1px solid $lightCream;
	}
	a {color: $lightCream; border: none;
		&:hover {color: $darkBrown;}
	}

	&.blogroll {
		float: left;
		width: 615px;

		li {
			float: left;
			margin: 0 20px 0 0;
			width: 185px;
			@include remove_nth_last_child_boarder(2);
			@include remove_nth_last_child_boarder(3);
		}
	}
}

// FOOTER
footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
	div {
		display: table;
		margin: 0 auto;
		padding: 44px 0;
		width: 940px;
		color: #777;
	}
	section {
				display: table-cell;
				width: 300px;
			}
	#feeder_surveys, #blogroll {
				padding-right: 20px;
			}
	h3 {
			color: $white;
		}
	a {
			color: #999;
			&:hover {
				color: $white;
				text-decoration: none;
			}
		}
	ul {
			margin: 0 0 0 40px;
			list-style: square;
			color: #565656;

			li {
				a {
					display: block;
				}
			}
		}
}

// CONTENT BLOCKS
#main-content {
	display: table-cell;
	@include box_settings($orientation: vertical, $align: start, $pack: start, $flex: 1);
	width: 571px;
	padding-right: 22px;
	padding-top: 22px;

	section {
		width: 571px;
	}
}

#sc-main-content {
	display: table-cell;
	@include box_settings($orientation: vertical, $align: center, $pack: start, $flex: 1);
	width: 950px;
	padding-right: 22px;
	padding-top: 22px;
}

//	FEATURED
#featured {
	background: $white;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	@include border-radius($radius: 10px);

	figure {
		border: 2px solid #eee;
		float: right;
		margin: 0.786em 2em 0 5em;
		width: 248px;

		img {
			display: block;
			float: right;
		}
	}

	h2 {
		color: #C74451;
		font-size: 1.714em;
		margin-bottom: 0.333em;
	}

	h3 {
		font-size: 1.429em;
		margin-bottom: .5em;
	}

	a {
		&:link, &:visited {
			color: $black;
			text-decoration: none;
		}

		&:hover, &:active {
			color: $white;
		}
	}
}

// ABOUT
#about {
	background: $white;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 760px;

	@include border-radius($radius: 10px);

	.primary {
		float: left;
		width: 165px;
		strong {color: #C64350; display: block; font-size: 1.286em;}
	}
	.photo {float: left; margin: 5px 20px;}
	.url {
		&:link, &:visited  {text-decoration: none;}
	}
	.bio {float: right; width: 500px;}
}


//	FOOTER
#contentinfo {padding-bottom: 2em; text-align: right;}

// SECTIONS
// BLOG
li{
	&:last-child{
		&.hentry {border: 0; margin: 0;}
	}
}

section#content {
	display: table;
	@include box_settings($orientation: horizontal, $align: start, $pack: end, $flex: 1);
	position: relative;
	left:50%;
	margin-left:-480px;

	h2, h3 {
		img {
			border: 1px solid $lightMud;
			padding: 0em;
			margin: 0em;

			&:hover {
				background-color: $lightCream;
			}
		}

		a {
			border: 0px;
		}

	}

	&>.hentry {
		border: 0; margin: 0;
		padding: 1em 0;
	}
}

.entry-title {
	font-size: 1.429em;
	margin-bottom: 0;

	a{
		&:link, &:visited {
			text-decoration: none;
		}
	}

}

.hentry {
	.post-info {
		* {
			font-style: normal;
		}
	}
	footer {
		margin-bottom: 2em;
		address {
			display: inline;
		}
	}
}


// CONTENT
#posts-list {
	list-style: none;
	margin: 0;
	footer {
		left: 10px;
		position: absolute;
		top: 1.5em;
		width: 190px;

		address {
			display: block;
		}
	}
	.hentry {
		padding-left: 200px;
		position: relative;

		&:hover {
			background: #C64350;
			color: $white;

			&:link, &:visited {
				color: #F6CF74;
				@include single-text-shadow($hoff: 1px, $voff: 1px, $blur: 1px, $spread: false, $color: #333);
			}
		}
	}
}

#about-author {
	background: #f9f9f9;
	clear: both;
	font-style: normal;
	margin: 2em 0;
	padding: 10px 20px 15px 20px;

	@include border-radius($radius: 5px);

	strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}
	.photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
}


// ASIDE
aside {
	display: table-cell;
	@include box_settings($orientation: vertical, $align: end, $pack: start, $flex: 1);
	width: 345px;
	background: url("images/sidebar_background.png") top left;

	padding-top:20px;

	section {
		margin: 22px 0 0 22px;
		padding: 11px 22px;
		background: $cream;
		@include border-radius($radius: 11px);
	}

}

// HEADERS
h2, h3, h4 {
	font-family: $headerFont;
	color: $lightMud;
}

// TABLES
table {
	margin-bottom: 3px;
	border: {
		bottom-color: $darkBrown;
		right-color: $darkBrown;
	}

	th {
	    background-color: $biscuit;
	    border: {
	    	top-color: $darkBrown;
	    	left-color: $darkBrown;
	    }
	}
	td {
	    border: {
	    	top-color: $darkBrown;
	    	left-color: $darkBrown;
	 	}
	}

	&.supernovaeTable {
		border: none;

		th {
			background-color: none;
			border: none;
			font-size: 1.0em;
		}

		td {
			padding: 3px 10px;
			border: none;
			font-size: 1.0em;
		}
	}

	&.typeIaTotal, &.typeIITotal, &.typeIbcTotal {
		border: 2px solid;
		width: 70px;
		height: 70px;
		font-size: 1.2em;
	}

	&.typeIaTotal {
		@include sn_counter_color($purple);
	}

	&.typeIITotal {
		@include sn_counter_color($blue);
	}

	&.typeIbcTotal {
		@include sn_counter_color($green);
	}
}

// LISTS
ul {
	list-style: outside disc;
	margin: 1em 0em 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

// IMAGES
img[src*=thumbnail] {
	border: 4px solid $darkBrown;
	text-decoration: none;
}

// TEXT
::selection {
	background: $darkBrown;
	color: $lightCream;
}

// ANCHORS
a {
	&:link, &:visited {
		color: $brickRed;
	}
	&:hover, &:active {
		color: $aquaMarine;
	}
}

#twitter-timeline {
    @include display-box;
    width: 300px;
}


















